* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */


:root {
    /* colors */ 

    --white: #FFF;
    --link-color: #808080;
    --active-link: #1c1c1c;
    --linear-blue: #069494;
    --heading-color: #0554F2;
    --light-mustard: #F2CB05;
}

body {
    font-family: "Poppins", serif;
    background-color: var(--white);
    font-size: 1rem;
    position: relative;
    overflow-x: hidden;
}


/* Global styles */

ul {
    list-style: none;
}

section {
    display: block;
}
 
/* header and navigation */

header {
    display: flex;
    align-items: center;
    height: 6.8125rem; 
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 100%;
}

.header-img-container {
    display: inline-block;
    width: 200px;
    margin-left: 2rem;
}

.nav-ul, .nav-ul li {
    display: inline-block;
}

.nav-ul {
    margin-left: 20rem;
    font-weight: 700;
    font-size: 0.9rem;
}

.nav-ul li {
    margin-right: 1.5rem;
}

a:link, a {
    text-decoration: none;
    color: var(--link-color);
    padding: 14px 25px;
}

a:active, a:hover {
    color: var(--active-link);
    cursor: pointer;
}

.btn {
    border: none;
    font-weight: 700;
    padding: 0.8rem 1rem;
    cursor: pointer;
}


.sign-in-btn {
    background-color: var(--white);
}

.sign-in-btn:hover {
    color: var(--linear-blue);
}

.sign-up-btn {
    background-color: var(--linear-blue);
    text-align: center;
    color: var(--white);
    margin-left: 3rem;
    border-radius: 0.81rem;
}

.sign-up-btn:hover {
    color: var(--active-link);
    opacity: 0.8;
}

/* header and nav end */


/* hero section */

#hero-section {
    width: 100%;
    height: 44.5rem;
    margin: 1rem 0;
}

.hero-container {
    display: flex;   
}

.headline {
    width: 28rem;
    margin-top: 5.5rem;
    margin-left: 12rem;
}

.headline h1 {
    font-size: 3.25rem;
    font-weight: 700;
}

.blue-span {
    color: var(--heading-color);
}


.headline-description {
    margin-top: 1.5rem;
}

.hero-btn-container {
    display: flex;
    margin: 1.5rem 0;
}

.hero-btn-container .btn {
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
}

.get-started-btn {
    background-color: var(--light-mustard);
    text-align: center;
    color: var(--white);
}

.get-started-btn:hover {
    color: var(--active-link);
    opacity: 0.85;
}

.how-it-works-btn {
    background-color: var(--white);
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.how-it-works-btn img {
    padding-left: 0.4rem;
    width: 1.5rem;
}

.how-it-works-btn:hover, .how-it-works-btn img:hover {
    opacity: 0.8;
}


.hero-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.hero-img-container {
    margin-top: 1.5rem;
    margin-left: 5.5rem;
    width: 31.75rem;
    height: 35rem;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.by-124 {
    width: 124px;
    height: 124px;
}

.one {
    background-color: var(--heading-color);
    top: 350px;
    left: 1276px;
}

.two {
    background-color: var(--linear-blue);
    top: 550px;
    left: 1440px;
}

.three {
    background-color: var(--light-mustard);
    top: 650px;
    left: -50px;
}

.four {
    background-color: var(--heading-color);
    width: 189px;
    height: 189px;
    top: 500px;
    left: 641px;
}

.five {
    background-color: var(--linear-blue);
    width: 308px;
    height: 308px;
    top: 160px;
    left: 700px;
}

/* hero section end */


/* services section */

#services {
    margin: 1rem 0;
    position: relative;
}

#services h2 {
    text-align: center;
    font-size: 3rem;
}

.services-container {
    display: flex;
}

.services-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.services-img-container {
    width: 31.75rem;
    height: 40rem;
    margin-left: 2rem;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 13rem 13rem 13rem;
    gap: 1rem;
    margin: 2rem 5rem;
}

.grid {
    box-shadow: 0 0.5px 5px #313131;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    font-size: 0.875rem;
}


.grid p {
    margin: 0.5rem 0;
    font-size: 14px;
}

.grid-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.grid-img-container {
    width: 6rem;
    height: 4.75rem;
}

.service-circle-one {
    width: 16rem;
    height: 16rem;
    top: 5rem;
    left: 7.5rem;
    background-color: var(--heading-color);
}

.by-189 {
    width: 10rem;
    height: 10rem;
}

.service-circle-two {
    top: 20rem;
    left: 19.5rem;
    background-color: var(--linear-blue);
}

.service-circle-three {
    top: 28.5rem;
    background-color: var(--light-mustard);
    left: 3.5rem;
}

.service-circle-four {
    top: 10.5rem;
    left: 3.25rem;
}

/* services section end */

/* footer */

footer {
    padding: 100px 162px 30px 162px;
    height: 350px;
    width: 100%;
    background-color: #F1F1F3;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.general-info img {
    padding-right: 1rem;
}

.info p {
    margin-bottom: 1rem;
    font-size: 14px;
}

.info a{
    padding: 0;
}

.info li {
    margin-bottom: 0.5rem;
}



.home-footer h4, .about-footer h4 {
    margin-bottom: 0.5rem;
}
.social-media-footer a {
    color: #1c1c1c;
}
.social-media-footer i {
    text-align: center;
    width: 36px;
    height: 36px;
    margin: 10px;
    border: 1px solid var(--link-color);
    padding: 9px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.social-media-footer .fa-facebook-f:hover, 
.social-media-footer .fa-twitter:hover {
    cursor: pointer;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
}

.social-media-footer .fa-instagram:hover {
    cursor: pointer;
    border: 1px solid coral;
    color: coral;
}

.footer-p {
    margin-top: 3rem;
    text-align: center;
    color: var(--link-color);
    font-size: 14px;
}



@media (min-width: 319px) and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        align-items: center;
        height: 5rem; 
    }

    nav {
        display: none;
    }
    
    header img {
        width: 100%;
    }
    
    .header-img-container {
        display: inline-block;
        width: 200px;
        margin-left: 0.5rem;
    }
    
    .nav-ul, .nav-ul li {
        display: flex;
        flex-direction: column;
    }
    
    .nav-ul {
        margin-top: 20rem;
        margin-left: 10rem;
    }
    
    .nav-ul li {
        margin-right: 0.5rem;
    }

    .nav-ul {
        display: none;
    }

    /* header and nav end */


/* hero section */

#hero-section {
    width: 100%;
    height: 44.5rem;
    margin: 5rem 0;
}

.hero-container { 
    flex-direction: column; 
}

.headline {
    width: 19rem;
    margin: 5rem 0 0 1rem;
    text-align: center;
}

.headline h1 {
    font-size: 2rem;
}

.headline-description {
    font-size: 0.5rem;
}


.hero-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.hero-img-container {
    margin-top: 1.5rem;
    margin-left: 5.5rem;
    width: 20rem;
    height: 20rem;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.by-124 {
    width: 124px;
    height: 124px;
}

.one {
    background-color: var(--heading-color);
    top: 676px;
    left: 306px;
}

.two {
    background-color: var(--linear-blue);
    top: 550px;
    left: 368px;
}

.three {
    background-color: var(--light-mustard);
    top: 918px;
    left: -70px;
}

.four {
    background-color: var(--heading-color);
    width: 118.12px;
    height: 118.12px;
    top: 500px;
    left: 36px;
}

.five {
    background-color: var(--linear-blue);
    width: 192.5px;
    height: 192.5px;
    top: 160px;
    left: 76px;
}

/* hero section end */

/* services section */

#services {
    margin: 1rem 0;
    position: relative;
}

#services h2 {
    text-align: center;
    font-size: 1.5rem;
}

.services-container {
    flex-direction: column;
}

.services-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.services-img-container {
    width: 20rem;
    height: 20rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 21rem 21rem 21rem;
    gap: 1rem;
    margin: 3rem 1rem;
}

.grid {
    box-shadow: 0 0.5px 5px #313131;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
    font-size: 0.875rem;
}

.grid p {
    margin: 0.5rem 0;
    font-size: 14px;
}

.grid-img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.grid-img-container {
    width: 6rem;
    height: 4.75rem;
}

.service-circle-one {
    width: 16rem;
    height: 16rem;
    top: 5rem;
    left: 7.5rem;
    background-color: var(--heading-color);
}

.by-189 {
    width: 10rem;
    height: 10rem;
}

.service-circle-two {
    top: 20rem;
    left: 19.5rem;
    background-color: var(--linear-blue);
}

.service-circle-three {
    top: 28.5rem;
    background-color: var(--light-mustard);
    left: 3.5rem;
}

.service-circle-four {
    top: 10.5rem;
    left: 3.25rem;
}

/* services section end */

/* footer */

footer {
    padding: 5rem 0;
    height: 700px;
    width: 100%;
    background-color: #F1F1F3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container {
    flex-direction: column;
}

.general-info img {
    padding-right: 1rem;
}

.info p {
    margin-bottom: 1rem;
    font-size: 14px;
}

.info a{
    padding: 0;
}

.info li {
    margin-bottom: 0.5rem;
}

.home-footer h4, .about-footer h4 {
    margin-bottom: 0.5rem;
}
.social-media-footer a {
    color: #1c1c1c;
}
.social-media-footer i {
    text-align: center;
    width: 36px;
    height: 36px;
    margin: 10px;
    border: 1px solid var(--link-color);
    padding: 9px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.social-media-footer .fa-facebook-f:hover, 
.social-media-footer .fa-twitter:hover {
    cursor: pointer;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
}

.social-media-footer .fa-instagram:hover {
    cursor: pointer;
    border: 1px solid coral;
    color: coral;
}

.footer-p {
    margin-top: 3rem;
    text-align: center;
    color: var(--link-color);
    font-size: 14px;
}


}






